.contenedor{
    width: 900px;
    height: 100vh;
    background-color: grey;
    margin: 0px auto;
}
.contenedor h1{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.contenedor div{
    float:left;
}

.contenedor:after div{
    clear: both;
}
.contenedor .productos{
    width: 60%;
    background-color: green;
    margin: 4px;
    padding: 10px;
}

.contenedor .lista{
    background-color: white;
    width: 25%;
    margin: 4px;
    padding: 10px;

}